.page-auth {
    label {
        color: #fff;
    }
    .row-login {
        min-height: 75vh;
    }
    .section-store-auth {
        h2 {
            font-weight: 200;
            font-size: 28px;
            margin-top: 0;
            color: #0c0d36;
        }
        .form-control {
            border-radius: 7px;
            background: #f3f3f3;
        }
        .btn-signup {
            @include button-variant(#f3f3f3, transparent);
            color: rgb(87, 84, 84);
        }
    }
}
